<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.lyo.tools.preferences.PreferencePage"
            id="org.eclipse.lyo.tools.preferences.PreferencePage"
            name="Lyo Designer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.lyo.tools.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
