<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated adaptorInterface -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="adaptorinterface.presentation.AdaptorinterfaceModelWizardID"
            name="%_UI_AdaptorinterfaceModelWizard_label"
            class="adaptorinterface.presentation.AdaptorinterfaceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptorinterfaceModelFile.gif">
         <description>%_UI_AdaptorinterfaceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated adaptorInterface -->
      <editor
            id="adaptorinterface.presentation.AdaptorinterfaceEditorID"
            name="%_UI_AdaptorinterfaceEditor_label"
            icon="icons/full/obj16/AdaptorinterfaceModelFile.gif"
            extensions="xml,adaptorinterface,ai"
            class="adaptorinterface.presentation.AdaptorinterfaceEditor"
            contributorClass="adaptorinterface.presentation.AdaptorinterfaceActionBarContributor">
      </editor>
   </extension>

</plugin>
