<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated toolchain -->
      <package
            uri="http://org.eclipse.lyo/oslc4j/toolChain"
            class="toolchain.ToolchainPackage"/>
   </extension>

</plugin>
