<section>
    <app-selector noDataText="No data..." searchPlaceholderText="Type's here..." selectionUri="http://localhost:8088/adaptor-sesamm-tool/services/service1/canSignals/selector" fields="[&quot;oslc:label&quot;]"></app-selector>
</section>

<br />
<br />
<br />
<br />
<br />
<!-- 
<section>
    <oslc-preview input-data="[{&quot;methodLink&quot;: &quot;http://rdf.scania.com/ns/scania_nam#factor&quot;, &quot;methodName&quot;: &quot;factor&quot;, &quot;value&quot;: &quot;1.0&quot;},{&quot;methodLink&quot;: &quot;http://rdf.scania.com/ns/scania_nam#minValue&quot;, &quot;methodName&quot;: &quot;minValue&quot;, &quot;value&quot;: &quot;0&quot;},{&quot;methodLink&quot;: &quot;http://rdf.scania.com/ns/scania_nam#maxValue&quot;, &quot;methodName&quot;: &quot;maxValue&quot;, &quot;value&quot;: &quot;29&quot;},{&quot;methodLink&quot;: &quot;http://rdf.scania.com/ns/scania_nam#unit&quot;, &quot;methodName&quot;: &quot;unit&quot;, &quot;value&quot;: &quot;Binary&quot;}]">
    </oslc-preview>
</section> -->
